/* Your styles (and Sass) start here */

/*** Example styles ***/
body {
  background: #36a1d9;
}

h1 {
  // Transition: Used for hover effect
  transition: all 3s ease-out;

  // Animation: Used with the keyframes below
  animation: pulsate 8s ease-out infinite;

  // Normal stylin'
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  font-family: Helvetica, Arial, Sand-serif;
  font-weight: bold;
  font-size: 6em;
  color: white;
  color: rgba(255,255,255,0.8);

  text-align: center;
  text-transform: uppercase;

}

h1:hover {
  color: #5cefaf;
}

/*** Keyframes - used with the "animation" property in the h1 ***/

@keyframes pulsate {
  0%, 20% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(5px);
  }
  50%, 70% {
    transform: translate(-50%, -50%) scale(1.5);
    filter: none;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(5px);
  }
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

