/* Your styles (and Sass) start here */
/*** Example styles for the "Don't Panic" text ***/
body {
  background: #222;
}

h1 {
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
  -webkit-animation: pulsate 3s ease-out infinite;
          animation: pulsate 3s ease-out infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  font-family: Helvetica, Arial, Sand-serif;
  font-weight: bold;
  font-size: 8em;
  color: red;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: yellow;
  text-fill-color: red;
  text-stroke-width: 1em;
  text-stroke-color: yellow;
  text-align: center;
  text-transform: uppercase;
}

h1:hover {
  font-size: 14em;
}

/*** Keyframes - used with the "animation" property in the h1 ***/
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
/*** Media queries for adjusting to different screen sizes ***/
@media only screen and (max-device-width: 500px) {
  h1 {
    font-size: 5em;
  }
}
